body {
  margin: 0;
  padding: 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 100px;
}

tr:first-child {
  width: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
